.toast{
    width: 30%;
    height: 100px;
    margin-top: 25px;
    opacity: 0.75;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.success{
    background-color: mediumspringgreen;
}

.info{
    background-color: deepskyblue;
}

.error{
    background-color: crimson;
}