#Content{
    margin: auto;
    width: 80%;
    min-width: 600px;
}

header{
    position: fixed;
    top : 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
}

#Logo{
    height: 35px;
    width: 100%;
}

.bold{
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.menu{
    height: 65px;
    width:100%;
    justify-content: center;
    display: flex;
    list-style: none;
}

.menu-element{
    width: 30%;
}

.menu-element a{
    display: block;
    height: 65px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    line-height: 65px;
    color: white;
}

.menu-element a:hover{
    background-color: white;
    color: black;
}

.main-div{
    width: 100%;
    margin-top: 100px;
}

.element{
    display: flex;
    margin-top: 50px;
}

.images{
    width: 65%;
}

.text{
    width: 35%;
    padding-left: 10%;
}
