#Content{
    margin: auto;
    width: 80%;
    min-width: 600px;
}

.main-div{
    margin-top: 100px;
}

.element{
    display: flex;
    margin-top: 50px;
}

.images{
    width: 65%;
}

.text{
    width: 35%;
    padding-left: 10%;
}

img{
    width: 100%;
}